body {
  margin: 0;
  background-color: darkgray;
}
.header {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 64px;
  text-align: center;
  margin: 0;
  padding: 25px 10px 20px 10px;
}
input{
	width: 50%;
	/*border: 1px sold black;*/
	padding: 5px;
	
}
button{
	background-color: green;
	padding: 10px;
	border-radius: 10px 10px 10px 10px;
	color: white;
}
div#menu{
	border: 0px solid black;
	padding: 30px;
	border-radius: 10px 10px 0px 0px;
	background-color: #fff;
}
.learn{
	text-align: center;
}
.option{
	border: 0px solid black;
	padding-top: 10px;
	margin-top: 10px;
	background-color: white;
	border-radius: 10px 10px 0px 0px;
	padding: 10px;
}