body {
  margin: 0;
}
.header {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 64px;
  text-align: center;
  margin: 0;
  padding: 25px 10px 20px 10px;
}
input{
	width: 50%;
}
button{
	background-color: green;
	padding: 10px;
	border-radius: 10px 10px 10px 10px;
	color: white;
}